@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');

}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content:center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(85, 98, 112), rgb(76, 59, 59));
  
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}*/
